@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 16px 'Roboto', sans-serif;
}

.contenedor,
main {
    display: flex;
    flex-direction: column;
}

/*--------------------------------------
----------------HEADER----------------*/

.header {
    background: rgb(39, 39, 38);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
    padding: 40px 10px;
}

.header .logo img {
    height: 60px;
    width: 60px;
    margin-left: 50px;
    border-radius: 100%;
}

.social a {
    display: inline-block;
    background-color: gray;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
}

.social>i {
    display: inline-block;
    color: #a8a8a8;
    margin-left: 10px;
}

/*----------------------------------------
------------- Navegación -------------------*/

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;

}

.header .nav-links a {
    font: 700 13px sans-serif;
    color: #f5f5f5;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    padding-bottom: 5px;

}

.header .nav-links a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #f1d13f;
    border-radius: 3px;
    bottom: 0;
    left: 0;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform .4s ease-in-out;
}

.header .nav-links a:hover::before {
    transform-origin: center;
    transform: scaleX(1);
}



.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 13px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #000;
    background-color: rgb(214, 214, 112);
    border: 2px solid black;
    border-radius: 15px;
}

.button:hover {
    background-color: black;
    color: white;
}

/*----------------------------------------
------------- BANNER -------------------*/

.main {
    display: flex;
    flex-direction: column;
}

.main .banner {
    width: 100%;
    height: 100vh;
    background: url("Imagenes/doble.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .banner .bienvenida {
    margin-bottom: 35px;
    padding: 0;
    width: 100%;
    display: block;
    text-align: center;
}

.main .banner .bienvenida h1 {
    font: 50px chocolate;
    src: url('Fonts/chocolate_5/'), format(truetype);
}

/*----------------------------------------
------------- Nosotros -------------------*/

.main .about {
    width: 100%;
    max-height: 80vh;
    background-color: #df969a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main .about .about-img {
    flex: 50%;
}

.main .about .about-img img {
    width: 100%;
    max-height: 100%;
}

.main .about .about-text {
    flex: 50%;
    display: block;
    text-align: center;
    color: rgb(43, 43, 43);
    padding: 20px;
}

.main .about .about-text p {
    font-size: 14px;
    padding: 20px;
    margin: 0;
    line-height: 120%;
}

/*----------------------------------------
------------- Sabores -------------------*/

.sabores {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f1f1f1;
    /*height: calc(100vh - 200px);*/
}

.sabores h1 {
    margin-top: 0;
    padding: 50px 0;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}

.sabores .sabor {
    width: calc(30% - 20px);
    height: 300px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    border: 2px solid rgb(80, 80, 80);
}

.sabores .sabor img {
    width: 120px;
    height: 120px;
}

.sabores .sabor h3 {
    font-family: 'Dancing Script';
    font-weight: bolder;
    margin-top: 20px;
    font-size: 20px;
    border-bottom: 1px solid #000;
}

.sabores .sabor ul {
    padding: 5px;
    text-align: left;
    margin-top: 20px;
}

.sabores .sabor li {
    font-size: 14px;
    line-height: 1.5;
}

/*----------------------------------------
------------- Servicios -----------------*/

.servicios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: auto;
    margin-top: 20px;
    background-color: #f1f1f1;
}

.servicios div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 20vh;
    margin: 10px;
}

.serv-1,
.serv-2,
.serv-3 {
    background-color: #f1d13f;
    height: auto;
    width: auto;
    border-radius: 5%;
}

.serv-1:hover,
.serv-2:hover,
.serv-3:hover {
    cursor: pointer;
    background-color: #e0b800;
}

/*----------------------------------------
-------------   iframe -------------------*/

.container-iframe {
    margin-top: 20px;
    padding-top: 20px;
    background-color: #666666;
}

/*----------------------------------------
-------------   Footer -------------------*/

.footer {
    color: rgb(231, 231, 231);
    background-color: #131313;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer div {
    margin: 30px;
}

.dire {
    width: 300px;
    height: 150px;
}

.dire a {
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: #fff;
    font-weight: 400;
}

.col a {
    text-decoration: none;
    color: #fff;
    display: block;
    margin-bottom: 0px;
}

.col a:hover {
    text-decoration: underline;
}

.col .media {
    display: flex;
    align-items: center;
}

.col .media i {
    display: block;
    margin-right: 10px;
}

input[type=text] {
    border: 2px solid #ccc;
    border-radius: 50px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    width: 300px;
}

input[type=submit] {
    background-color: #f1d13f;
    color: black;
    width: 100px;
    display: block;
    margin-top: 10px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 50px;
}

input[type=submit]:hover {
    background-color: #e0b800;
    cursor: pointer;
}

.copyright {
    text-align: center;
    font-size: 1.2rem;
    color: #666;
    margin: 10px 0 20px;
}

/*----------------------------------------
------------- Responsive layout -------------------*/

/*vista celular*/
/*@media (max-width: 800px) {

    .main,
    .sabores {
        display: flex;
        flex-direction: column;
    }
}*/

/*vista tablet*/
/*@media (min-width: 800px) and (max-width: 1280px) {

    .main {
        flex-direction: column;
    }

}*/

/*vista escritorio*/
/*@media (min-width: 1280px) {
    .main {
        flex-direction: column;
    }
}*/

@media screen and (max-width: 1070px) {
    .header .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header .nav-links a {
        margin: 0.2rem 0;
        font-size: 0.8rem;
    }




    .header .logo img {
        margin-left: 0;
    }

    .main .about {
        flex-direction: column;
        max-height: none;
        padding: 50px 20px;
    }

    .sabores .sabor {
        width: calc(50% - 20px);
    }

    .servicios {
        flex-direction: column;
    }

    .servicios div {
        margin: 20px 0;
        cursor: pointer;
    }

    input[type=text] {
        width: 100%;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer div {
        margin: 10px;
    }
}

@media screen and (max-width: 700px) {
    .main .banner .bienvenida h1 {
        font-size: 30px;
    }

    .sabores .sabor {
        width: calc(50% - 20px);
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer div {
        margin: 10px;
    }

    input[type=text] {
        width: 300px;
    }
}